body {
  font-family: Arial;
  background-color: var(--cream);
  color: var(--text-dark);
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.center {
  text-align: center;
  margin-top: 100px;
}

button {
  background-color: var(--green-primary);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--green-light);
}

.card {
  background: var(--cream-dark);
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}
